.logo{
  margin-right: 24px;
}
.my_bar, .bar_div{
  padding-top: 9px;
}
.order{
  margin: 16px;
}
.order-button{
  background-color: #e3f2fd;
}
.slides_container{
  padding-top: 13px;
  padding-bottom: 13px;
}
.title {
  font-size: 56px;
  margin-top: 34px;
  color: #303952;
  font-family: Nunito Sans;
}
.subtitle{
  font-weight: extra-light;
  font-size: 24px;
  font-family: Nunito Sans;
}
.section_row{
  margin-top: 65px;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #e3f2fd;
}
.style2{
	background-color: #dfe6e9;
  padding-bottom: 36px;
}
.my_footer{
  background-color: #dfe6e9;
  color: #303952;
  margin-left: 21px;
  margin-right: 21px;
}
.footer_link, .footer_text{
  color: #A6A6A6;
}
